<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1060997931139-82p1r7av344ui05ajv9smlbqa644hf72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060997931139-82p1r7av344ui05ajv9smlbqa644hf72</string>
	<key>API_KEY</key>
	<string>AIzaSyDHHtw6u06v3c8GGiR6_dPN0A_fEt4Mmvs</string>
	<key>GCM_SENDER_ID</key>
	<string>1060997931139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HBPart</string>
	<key>PROJECT_ID</key>
	<string>mjar-84820</string>
	<key>STORAGE_BUCKET</key>
	<string>mjar-84820.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060997931139:ios:b4d40a47bffb3693</string>
	<key>DATABASE_URL</key>
	<string>https://mjar-84820.firebaseio.com</string>
</dict>
</plist>